body {
    font-family: Verdana,sans-serif;
}
.video_button{
    width: 75%;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0 0 5px;
}
.video_button a {
    text-decoration: none;
    color: #4CAF50;
}
.video_button a:hover {
    color: #5e00ff;
}
.menubar {
    float: left;
    display: block;
    width: 25%;
}

.video_side {
    float: left;
    display: block;
}