<div class="well">
    <form class="form-inline" ng-submit="getYoutubeData(youtubeSearchText)">
        <div class="input-group lg-2 mr-sm-2">
            <input type="search" ng-model="youtubeSearchText" name="hyv-search" id="hyv-search" placeholder="Search..." class="ui-autocomplete-input form-control input-lg" autocomplete="off">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <input type="submit" class="btn btn-primary" id="submit" value="Search" />
        </div>
    </form>
</div>